<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Thymeleaf Example</title>
</head>
<body>
<h1>Thymeleaf Example</h1>
<!--변수 표현식-->
<p>username : <span th:text="${username}"></span></p>

<!--선택 변수 표현식-->
<div th:object="${languages}">
    Languages: <span th:text="*{[0]}"></span>,<span th:text="*{[1]}"></span><span th:text="*{[2]}"></span>
</div>

<!--조건에  따른 -->
<div th:if="${isAdmin}">
    <p><span th:text="${username}"></span>은 관리자입니다.</p>
</div>
<div th:unless="${isAdmin}">
    <p><span th:text="${username}"></span>은 관리자가 아닙니다.</p>
</div>
<!--링크 URL표현식-->
<a th:href="@{/home}">home</a>

<!-- 리터럴 값 -->
<p th:text="'Welcome, ' + ${username} + '!'">Welcome message</p>

<!--메시지 표현식-->
<p th:text="#{welcome.message}"></p>
<p th:text="#{product.name}"></p>
</body>
</html>